.contact{
    background-color: #116466;
}
form{
    margin-left: 25% !important;
    background-color: #D9B08C;
    padding: 2%;
    border-radius: 10px;
    width: 50% !important;
    font-family: 'Courier New', Courier, monospace;
}
input{
    background-color: #D1E8E2 !important;
}
textarea{
    background-color: #D1E8E2 !important;
}
.error{
    color: red;
}
.submit{
    width: 20%;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #FFCB9A;
    color:black;
    
}
.submit:hover{
    background-color: #116466 !important;
    color:white;
    transition: .25s;
}
footer{
    text-align: center;
    margin-top: 4%;
    color: #FFCB9A !important;
    border-top: #FFCB9A solid 3px;
    border-radius: 50%;
    font-family: 'Courier New', Courier, monospace;
}
.fa-linkedin{
    padding-right: 1%;
    text-decoration: none;
    color: #FFCB9A !important;
}
.fa-github{
    text-decoration: none;
    color: #FFCB9A !important;
}
.fa-envelope{
    padding-left: 1%;
    text-decoration: none;
    color: #FFCB9A !important;
    transform: scale(1.5);
}
.fa-phone-alt{
    color: #FFCB9A !important;
}
.copy{
    font-size: .75em;
}
.fa:hover{
    color: #D1E8E2 !important;
    transition: .25s;
}
.fas:hover{
    color: #D1E8E2 !important;
    transition: .25s;
}
/*320px — 480px: Mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 480px){
    form{
        width: 100% !important;
        margin: 0 !important;
    }
    .submit{
        width: 30%;
    }
    footer{
        font-size: .75em;
    }
    .fa-linkedin{
        padding-right: 2%;
    }
    .fa-envelope{
        padding-left: 2%;
    }
}
    
/*481px — 768px: iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    form{
        width: 80% !important;
        margin-left: 10% !important;
    }
}
    
/*769px — 1024px: Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){

}
    
/*1025px — 1205px: Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1205px){

}